<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/soslogo"
        android:label="SOS 360"
        android:supportsRtl="true"
        android:theme="@style/Theme.SOS360"
        tools:replace="android:appComponentFactory"
        tools:targetApi="31">
        <activity
            android:name=".Contacts"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />

        <activity
            android:name=".Tips"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Profilep1"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Person3"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".Person2"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".Myinfo_1" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Myinfo1" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Person1"
            android:exported="false" />
        <activity
            android:name=".Myinfo"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Background"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="true" />


        <meta-data
            android:name="com.google.android.geo.AIzaSyDs_pzKGfT_mbn6u1JIOU_ytKb86d4yqZI"
            android:value="AIzaSyDs_pzKGfT_mbn6u1JIOU_ytKb86d4yqZI"/>
    </application>

</manifest>